{% for post in posts %}
    <div class="row mt-5">
        <div class="col-md-3">
            <img class="img-fluid" src="{{post.image}}" alt="{{post.title}}">
        </div>
        <div class="col">
            <h2>{{ post.title }}</h2>
            <p>Dans la catégorie :
                {{ post.category.title }}
            </p>
            <p>{{ post.introduction }}</p>

            <a href="{{ path('post_show', {'category_id': post.category.id, 'id': post.id }) }}" class="btn btn-primary float-right">Lire la suite</a>
            <div>
                <strong>Tags :</strong>
                {% for tag in post.tags %}
                    <span class="badge badge-secondary">{{tag.title}}</span>
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}
