{% extends "base.html.twig" %}

{% block title %}
    En train de lire :
    {{post.title}}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="mt-4 mb-5">{{post.title}}
                    <a href="{{ path('post_edit', {'id': post.id}) }}" class="btn btn-outline-primary float-right">Modifier</a>
                </h1>
                <div class="clearfix">
                    <img class=" float-left mr-5 mb-5" src=" {{post.image}} " alt=" {{post.title}} ">
                    <p>
                        Dans la catégorie
                        {{post.category.title}}
                    </p>
                    <div>
                        <strong>Tags :</strong>
                        {% for tag in post.tags %}
                            <span class="badge badge-secondary">{{tag.title}}</span>
                        {% endfor %}
                    </div>


                    <p class="font-weight-bold">
                        {{post.introduction}}
                    </p>


                    {{post.content | nl2br}}

                    <hr>
                </div>
            </div>
        </div>

        <h2 class="my-5">Déjà
            {{ post.comments | length }}
            réaction(s) à cet article !</h2>

        {% for comment in post.comments %}
            <div class="alert alert-light mb-3">
                <div class="row">
                    <div class="col-1">
                        <strong>Lior à dit</strong><br>
                        <small class="d-block">Le
                            {{ comment.createdAt | date}}</small>
                    </div>
                    <div class="col">
                        <blockquote class="comment-content">
                            {{ comment.content | nl2br }}
                        </blockquote>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="alert alert-light">
            <h2 class="alert-title">Vous aussi réagissez !</h2>
            {{ form_start(commentForm) }}

            {{ form_widget(commentForm) }}

            <button class="btn btn-success">Je commente</button>

            {{ form_end(commentForm) }}
        </div>
    </div>
{% endblock %}
