{% extends "base.html.twig" %}

{% block title %}
    En train de lire :
    {{post.title}}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="mt-4 mb-5">{{post.title}}
                    {% if is_granted('POST_EDIT', post) %}
                        <a href="{{ path('post_edit', {'id': post.id}) }}" class="btn btn-outline-primary float-right">Modifier</a>
                    {% endif %}

                </h1>
                <div class="clearfix">
                    <img class=" float-left mr-5 mb-5" src=" {{post.image}} " alt=" {{post.title}} ">
                    <p>
                        Dans la catégorie
                        {{post.category.title}}
                    </p>
                    <div>
                        <strong>Tags :</strong>
                        {% for tag in post.tags %}
                            <span class="badge badge-secondary">{{tag.title}}</span>
                        {% endfor %}
                    </div>


                    <p class="font-weight-bold">
                        {{post.introduction}}
                    </p>


                    {{post.content | nl2br}}

                    <hr>
                </div>
            </div>
        </div>
        {% if post.comments | length>0 %}
            <h2 class="my-5">Déjà
                {{ post.comments | length }}
                réaction(s) à cet article !</h2>

        {% endif %}

        {% for comment in post.comments %}
            <div class="alert alert-light mb-3">
                <div class="row">
                    <div class="col-1">
                        <strong>{{ comment.author.name }}
                            a dit</strong><br>
                        <small class="d-block">Le
                            {{ comment.createdAt | date}}</small>
                    </div>
                    <div class="col">
                        <blockquote class="comment-content">
                            {{ comment.content | nl2br }}
                        </blockquote>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if is_granted('ROLE_USER') %}
            <div class="alert alert-light">
                <h2 class="alert-title">
                    {% if post.comments | length>0 %}
                        Vous aussi réagissez !
                    {% else %}
                        Soyez la première personne à réagir !
                    {% endif %}
                </h2>
                {{ form_start(commentForm) }}

                {{ form_widget(commentForm) }}

                <button class="btn btn-success">Je commente</button>

                {{ form_end(commentForm) }}
            </div>
        {% else %}
            <div class="alert alert-light">
                <h2 class="alert-title">Pour réagir, connectez-vous</h2>
                <a href="{{ path('security_login') }}" class="btn btn-success text-white">Connexion</a>
                <a href="" class="btn btn-link">ou inscrivez vous</a>
            </div>
        {% endif %}

    </div>
{% endblock %}
